/laskarit/viikko2/maksukortti/
/laskarit/viikko2/unicafe/.pytest_cache/
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/htmlcov/
/laskarit/viikko2/unicafe/.coverage
/one-minute-workout/.pytest_cache/
/one-minute-workout/src/__pycache__/
/one-minute-workout/src/tests/__pycache__/
/one-minute-workout/htmlcov/
/one-minute-workout/.coverage
/one-minute-workout/.vscode/
/one-minute-workout/documentation/.pytest_cache/
/one-minute-workout/src/.env
/one-minute-workout/src/ui/__pycache__
